/*

selector {
    propiedad: valor !important;
}

*/

#presentacion {
    min-height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(assets/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
}


.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('google.png');
}

#proyecto-2 {
    background-image: url('google.png');
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.bg-brand {
    background-color: blueviolet;
}

.text-brand {
    color: blueviolet;
}

#espacio {
    justify-content: space-evenly;
    margin-left: 130px;
    margin-right: 130px;
}

#insti {
    width: 200px;
    height: 100;

}

#equipo {
    border-radius: 50%;
    width: 200px;
}

#li {
    font-size: 24px;
}

#habilidades {
    justify-content: space-around;
}

.texto-justificado {
    text-align: justify;
}

a {
    color: #202124;
    text-decoration: none;
    font-size: 14px;
}

.contenedor-principal {
    display: flex;
    width: calc(100% - 200px);
    /* Ajustar para el margen derecho de 100px */
    margin-right: 100px;
    /* Distancia del contenedor derecho al lado derecho de la pantalla */
    padding-top: 100px;
}

.contenedor-izquierda {
    text-align: center;
    margin-left: 100px;
    /* Distancia del contenedor izquierdo a la pantalla */
    flex: 0 0 auto;
    /* No permitir que crezca más allá de su contenido */
}

.contenedor-izquierda img {
    display: block;
    margin: 0 auto;
    /* Centramos la imagen horizontalmente */
}

.contenedor-izquierda div {
    text-align: left;
    /* Texto dentro del div de la izquierda alineado a la izquierda */
}

.contenedor-derecha {
    text-align: justify;
    flex: 1;
    /* Ocupa el resto del espacio disponible */
    margin-left: 20px;
    /* Espacio entre los dos contenedores */
}

/* Estilos adicionales */
body,
html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    background: #f8f9fa;
}


.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button-container a {
    text-decoration: none;
    color: #202124;
    background-color: #0d6efdaf;
    font-size: larger;
}

.button {
    padding: 10px 20px;
    background-color: white;
    color: #0d6efdaf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #ffffff;
}





.pagos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.top-cont {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.bottom-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.container1, .container2, .container3 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    flex: 1 1 40%; /* Para hacerlos proporcionales y del mismo tamaño */
    max-width: 300px; /* Límite máximo de ancho */
}

.container1 img, .container2 img, .container3 img {
    width: 40%;
    height: 80px; /* Altura fija para todas las imágenes */
    border-radius: 8px;
    margin-bottom: 10px;
}

.container1, .container2, .container3 h2 {
    margin-bottom: 10px;
}

.container1, .container2, .container3 ul {
    list-style-type: none;
}

.container1 ul, .container2 ul{
    list-style-type: none; /* Quita los puntos de la lista */
    padding-left: 0;
}

.container3 ul{
    list-style-type: decimal; /* Quita los puntos de la lista */
    padding-left: 0;
}

.container1 li, .container2 li, .container3 li {
    margin-bottom: 5px;
}

hr.divider {
    border: 0;
    height: 2px; /* Altura de la línea */
    background-color: #ddd; /* Color de la línea */
    margin: 20px 0; /* Espaciado superior e inferior */
}

header h1 {
    text-align: center;
    margin: 20px 0 20px 0; /* Ajusta la distancia superior e inferior */
}




